# MVP 시작 환경변수 (지금은 없어도 동작)
OPENWEATHER_API_KEY=
WORLD_TIDES_API_KEY=
WORLD_TIDES_API_URL=
OPENMETEO_WEATHER_URL=https://api.open-meteo.com/v1/forecast
OPENMETEO_MARINE_URL=https://marine-api.open-meteo.com/v1/marine
NEXT_PUBLIC_APP_TITLE=스노클링 플래너
GOOGLE_MAPS_EMBED_API_KEY=
